.cta_sec{
    padding: 0;
    .cta_flex{
        @include radius(43px);
        padding: 6rem;
        @include flex;
        overflow: hidden;
        gap: 2rem;
        position: relative;
        background-color: #2568AD;
        border: 1px solid #DFF2F2;
        margin-bottom: -10rem;
        z-index: 1;
        @include ipad_sm{
            flex-direction: column;
        }
        @include mobile_sm{
            padding: 3rem;
        }
        &:before{
            @include pos;
            content: '';
            background-image: url(/images/overlay.png);
            @include bg;
            opacity: 0.7;
        }
        .sec_heading{
            flex: .7;
            margin-bottom: 0;
            position: relative;
            @include ipad_sm{
                flex: 1;
                text-align: center;
            }
            h2{
                color: $light;
                margin-bottom: 0;
            }
        }
        .btn_blk{
            align-self: center;
            flex: .3;
            @include ipad_sm{
                flex: 1;
                align-self: unset;
                justify-content: center;
            }
            .site_btn{
                min-width: 23rem;
                
            }
        }
    }
}

// =========banner========
.banner{
    background: url(/images/home_banner.webp);
    @include bg;
    padding: 15rem 0;
    @include mobile{
        padding: 5rem 0;
    }
    &:before{
        @include pos;
        content: '';
        background: linear-gradient(90deg, #ffffff, #ffffff00);
    }
    .txt{
        max-width: 50rem;
        h1{
            em{
                display: block;
                font-style: normal;
                background: linear-gradient(90deg, #579C3E, #22A1D9);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }
        p{
            margin: 3rem 0;
            font-size: 1.8rem;
            line-height: 1.5;
        }
        .btn_blk{
            .site_btn{
                min-width: 15rem;
            }
        }
    }
}

// ======trusted_sec===
.trusted_sec{
    h3{
        margin-bottom: 2rem;
    }
    .trusted_slider{
        background-color: #FCFCFC;
        padding: 3rem 0;
        @include radius(20px);
    }
    .slide_item{
        padding: 20px;
        .image{
            height: 3rem;
            overflow: hidden;
            width: 10rem;
            @include mobile{
                width: 100%;
            }
            img{
                @include object(contain);
            }
        }
    }
    .slick-center{
        .slide_item {
            transform: scale(1.5);
            z-index: 1;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
        }
    }
}

// =====insights_sec===

.insights_sec{
    background: url(/images/overlay.png);
    @include bg;
    padding: 0;
    .flex{
        .colL{
            width: 50%;
            padding-right: 3rem;
            @include ipad_sm{
                width: 100%;
                padding-right: 0;
                margin-bottom: 2rem;
            }
            .image{
                @include img(60%);
                box-shadow: none;
                @include radius(25px);
                background-color: transparent;
                img{
                    @include pos;
                    @include object;
                }
            }
        }
        .colR{
            width: 50%;
            padding-left: 3rem;
            align-self: center;
            @include ipad_sm{
                width: 100%;
                padding-left: 0;
            }
            h2{
                margin-bottom: 2rem;
            }
            .btn_blk{
                margin-top: 3rem;
            }
        }
    }
}

// =======delivering_result_sec======
.delivering_result_sec{
    .center_txt{
        max-width: 80rem;
        margin: 0 auto 3rem;
    }
    .result_tabs{
        .colL{
            width: 25%;
            padding-right: 2rem;
            @include ipad{
                width: 100%;
                padding-right: 0;
                margin-bottom: 3rem;
                @include flex($flow:nowrap);
                column-gap: 1rem;
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    height: 0;
                }
                
            }
            @include mobile_sm{
                padding-bottom: .5rem;

            }
            .latest_tabs{
               @include ipad_sm{
                margin-bottom: 0;
               }
            }
        }
        .colR{
            width: 75%;
            padding-left: 2rem;
            @include ipad{
                width: 100%;
                padding-left: 0;
            }
            .tabs_content{
                background-color: rgba($color2,0.2);
                @include radius(25px);
                padding: 6rem;
                @include mobile_sm{
                    padding: 2rem;
                }
                .inner_tabs_content{
                    .tab_left{
                        width: 50%;
                        padding: 2rem;
                        position: relative;
                        align-self: center;
                        @include ipad_sm{
                            width: 100%;
                            padding-right: 0;
                        }
                        &:before{
                            @include pos($r:11rem);
                            content: '';
                            @include radius(30px);
                            background-color: $color2;
                        }
                        .image{
                            @include img(110%);
                            box-shadow: none;
                            background-color: transparent;
                            @include radius(30px);
                            @include ipad_sm{
                                padding-bottom: 55%;
                            }
                            img{
                                @include object;
                                @include pos;
                            }
                        }
                    }
                    .tab_right{
                        width: 50%;
                        padding-left: 2rem;
                        align-self: center;
                        @include ipad_sm{
                            width: 100%;
                            padding-left: 0;
                            margin-top: 2rem;
                        }
                        h4{
                            text-transform: uppercase;
                        }
                        h5{
                            color: $color;
                            font-family: 'SemiBold';
                        }
                        .btn_blk{
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}
// ==tabs coding===

.latest_tabs{
    cursor: pointer;
    padding: 1.5rem 1.5rem;
    border: 1px solid rgba($color2,0.3);
    color: #040404;
    @include radius(10px);
    @include trans;
    font-family: 'SemiBold';
    @include mobile_sm{
        padding: 1rem;
    }
    &:not(:last-child){
        margin-bottom: 1.7rem;
    }
    &:hover , &.active{
        background-color: rgba($color2,0.2);
        color: $color2;
        @include trans;
    }
    &.color_tabs{
        border-color: rgba($color,0.3);
        text-align: center;
        &:hover , &.active{
            background-color: rgba($color,0.2);
            color: $color;
            @include trans;
        }
    }
}

// ============quality_insight_sec=====
.quality_insight_sec{
    padding: 0;
    .center_txt{
        max-width: 80rem;
        margin: 0 auto 3rem;
    } 
    .quality_tabs{
        @include flex($justify:center);
        column-gap: 1rem;
        margin-bottom: 3rem;
        @include mobile{
            flex-flow: nowrap;
            white-space: nowrap;
            overflow: hidden;
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 0;
            }
        }
        > *{
            width: 20rem;
            margin-bottom: 0;
        }
    }
    .tabs_content{
        .flex{
            .tab_left{
                width: 60%;
                align-self: center;
                padding-right: 3rem;
                @include ipad_sm{
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 2rem;
                }
            }
            .tab_right{
                width: 40%;
                padding-left: 3rem;
                align-self: center;
                @include ipad_sm{
                    width: 100%;
                    padding-left: 0;
                }
            }
            &.rverse_flex{
                flex-direction: row-reverse;
                .tab_left{
                    padding-right: 0;
                    padding-left: 3rem;
                    @include ipad_sm{
                        padding-left: 0;
                    }
                }
                .tab_right{
                    padding-left: 0;
                    padding-right: 3rem;
                    @include ipad_sm{
                        padding-right: 0;
                    }
                }
            }
            .image{
                @include img(58%);
                box-shadow: none;
                background-color: transparent;
                @include radius(30px);
                img{
                    @include object;
                    @include pos;
                }
            }
            h3{
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
    }
}
// ============big_cta========
.big_cta{
padding-bottom: 0;
    .cta_blk{
        @include flex;
        @include radius(30px);
        padding: 5rem;
        column-gap: 4rem;
        row-gap: 2rem;
        color: $light;
        position: relative;
        background: linear-gradient(to right, #579C3E, #105EA7);
        @include ipad_sm{
            flex-direction: column-reverse;
        }
        @include mobile_sm{
            padding: 2rem;
        }
        &:before{
            @include pos;
            content: '';
            background-image: url(/images/overlay.png);
            @include bg;
            opacity: 0.7;
        }
        .txt{
            flex: 1;
            color: $light;
            align-self: center;
            p{
                color: $light;
            }
            h2{
                color: $light;
                margin-bottom: 2rem;
            }
            .btn_blk{
                margin-top: 2rem;
                .site_btn{
                    &:hover{
                        background-color: $color;
                        border-color: $color;
                    }
                }
            }
        }
        .img_side{
            align-self: center;
            @include ipad_sm{
                align-self: unset;
            }
            .image{
                width: 35rem;
                height: 30rem;
                overflow: hidden;
                @include mobile_sm{
                    width: 100%;
                }
                img{
                    @include object(contain);
                }
            }
        }
       
    }
}

// =================feature_case_study===========
.feature_case_study{
    .text_head_flex{
        @include flex;
        column-gap: 5rem;
        row-gap: 2rem;
        margin-bottom: 3rem;
        @include ipad_sm{
            flex-direction: column;
        }
        .content_text{
            flex: 1;
            @include ipad_sm{
                text-align: center;
            }
            h2{
                margin-bottom: 2;
            }
            p{
                margin-bottom: 0;
                max-width: 60rem;
            }
        }
        .btn_blk{
            align-self: center;
            @include ipad_sm{
                align-self: unset;
                justify-content: center;
            }
            .site_btn{
                min-width: 15rem;
            }
        }
    }
}

.featured_blog{
    .flex{
        margin: -1rem;
        ._col{
            width: 25%;
            padding: 1rem;
            @include ipad_sm{
                width: 50%;
            }
            @include mobile_md{
                width: 100%;
            }
            .inner{
                @include radius(20px);
                overflow: hidden;
                position: relative;
                padding-bottom: 145%;
                @include ipad_sm{
                    padding-bottom: 70%;
                }
                a{
                    @include pos;
                    z-index: 1;
                }
                .image{
                    @include pos;
                    img{
                        @include pos;
                        @include object;
                        @include trans;
                    }
                }
                &:hover{
                    .image{
                        img{
                            @include trans;
                            transform: scale(1.2);
                        }
                    }
                }
                .cntnt{
                    @include pos;
                    padding: 2rem;
                    @include flex($justify:flex-end,$flow:column);
                    background: linear-gradient(1deg, black, transparent);
                    .category{
                        background-color: rgba($color , 0.7);
                        color: $light;
                        @include radius(50px);
                        padding: .3rem 2rem;
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                        width: fit-content;
                    }
                    h4{
                        color: $light;
                        font-size: 2rem;
                        font-family: 'SemiBold';
                        line-height: 1.3;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .date{
                        color: rgba($light , 0.7);
                        font-size: 1.3rem;
                    }
                    
                }
            }
            &:nth-child(1),&:nth-child(6){
                width: 50%;
                @include mobile_md{
                    width: 100%;
                }
                .inner{
                    padding-bottom: 70%;
                    .cntnt{
                        h4{
                            font-size: 2.5rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            @include ipad_sm{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ==p_t_b===
.p_t_b{
    padding-top: 6rem;
    @include mobile_sm{
        padding-top: 3rem;
    }
}
// ==============capbaility===
.capability_area_sec{
    padding-bottom: 0;
}
.txt_cmn_heading{
    background-color: #DFF2F2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    padding: 2rem 4rem;
    @include mobile_sm{
        padding: 2rem 1.5rem;
    }
    h1{
        background: linear-gradient(90deg, #22A1D9, #579C3E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 0;
        width: fit-content;
    }
}
.grid_capability{
    margin-top: 6rem;
    @include mobile{
        margin-top: 4rem;
    }
    .flex{
        flex-wrap: nowrap;
        column-gap: 8rem;
        row-gap: 2rem;
        @include ipad_sm{
            flex-direction: column;
        }
        &.revers_flex{
            @include ipad_sm{
                flex-direction: column-reverse;
            }
        }
        .col{
            align-self: center;
            @include ipad_sm{
                align-self: unset;
            }
            .outer_blk_img{
                background-color: #F5F9FA;
                @include radius(20px);
                padding: 5rem 3rem;
            }
            .image{
                @include img(100%);
                @include radius(0px);
                background-color: transparent;
                box-shadow: none;
                img{
                    @include object(contain);
                    @include pos;
                }
            }
            h2{
                margin-bottom: 2rem;
            }
            h5{
                font-family: 'Regular';
                font-size: 1.8rem;
                line-height: 1.5;
                em{
                    font-style: normal;
                    display: block;
                }
            }
        }
    }
}

.icons_modernization{
    padding: 9rem 0 0;
    @include mobile{
        padding-top: 4rem;
    }
    .cap_txt{
        max-width: 70rem;
        margin: 0 auto 6rem;
        text-align: center;
        @include mobile_md{
            margin-bottom: 3rem;
        }
        p{
            margin-bottom: 0;
            font-size: 2rem;
            color: #000;
        }
        &.data_integration_cap_text{
            margin-bottom: 3rem;
        }
    }
    .flex{
        margin: -2rem;
        justify-content: center;
        .col{
            padding: 2rem;
            flex: unset;
            width: calc(100% / 3);
            @include ipad_sm{
                width: 50%;
            }
            @include mobile_md{
                width: 100%;
            }
            .image_icon{
                width: 8rem;
                height: 8rem;
                margin-bottom: 1.5rem;
                overflow: hidden;
                img{
                    @include object(contain);
                }
            }
            p{
                margin-bottom: 0;
            }
        }
        &.data_integration_flex{
            .col{
                width: 50%;
                @include mobile_md{
                    width: 100%;
                }
                .inner{
                    background-color: #F9FBFC;
                    @include radius(20px);
                    padding: 3rem;
                    height: 100%;
                }
            }
        }
    }
    .mini_txt_blk{
        max-width: 70rem;
        margin: 9rem auto 0rem;
        background-color: #105EA7;
        @include radius(20px);
        padding: 6rem 9rem;
        text-align: center;
        @include mobile{
            margin-top: 4rem;
            padding: 3rem;
        }
        p{
            color: $light;
            margin-bottom: 0;
            font-size: 1.8rem;
        }
    }
}
// =======white_paper_sec====
.white_paper_sec{
    .heading_all{
        margin-bottom: 2rem;
    }
    .flex{
        margin: -1rem;
        .col{
            flex: unset;
            width: 50%;
            padding: 1rem;
            @include mobile_sm{
                width: 100%;
            }
            .image{
                @include img(70%);
                @include radius(25px);
                box-shadow: none;
                cursor: pointer;
                img{
                    @include pos;
                    @include object;
                    @include trans;
                }
            }
            
            h5{
                max-width: 41rem;
                text-align: center;
                margin: 2rem auto 0;
                font-family: 'Medium';
                line-height: 1.4;
                @include trans;
                cursor: pointer;
            }
            &:hover{
                .image{
                    img{
                        @include trans;
                        transform: scale(1.2);
                    }
                }
                h5{
                    color: $color;
                    @include trans;
                }
            }
        }
    }
}

// ============contact_pg=========

.contact_pg{
    .flex{
        padding: 5rem;
        @include radius(20px);
        box-shadow:0px 3px 13px 0px #ddd;
        margin-top: 3rem;
        @include ipad_sm{
            padding: 3rem;
        }
        @include mobile_sm{
            padding: 2rem;
        }
        .colL{
            width: 50%;
            padding-right: 7rem;
            @include ipad_sm{
                padding-right: 2rem;
            }
            @include mobile{
                width: 100%;
                padding-right: 0;
            }
            h4{
                margin-bottom: 2rem;
                font-family: 'SemiBold';
                line-height: 1.4;
            }
            ul{
                margin:2rem 0;
                @include list;
                li{
                    margin-bottom: 1rem;
                    a,div{
                        @include flex;
                        column-gap: 1rem;
                        padding:1.5rem;
                        border: 2px solid transparent;
                        background-color: transparent;
                        @include trans;
                        @include radius(10px);
                        img{
                            width: 2rem;
                            height: 2rem;
                            align-self: center;
                        }
                        span{
                            flex: 1;
                        }
                        &:hover{
                            @include trans;
                            border-color: $color;
                            background-color: rgba($color , 0.1);
                            color: $black;
                        }
                    }
                }
            }
        }
        .colR{
            width: 50%;
            @include mobile{
                width: 100%;
                margin-top: 2rem;
            }
            form{
                h4{
                    font-family: 'SemiBold';
                    margin-bottom: 2rem;
                }
                background-color: #EEF4F9;
                padding:3rem;
                @include radius(20px);
                @include mobile_sm{
                    padding: 2rem;
                }
                .txt_grp{
                    margin-bottom: 1.5rem;
                    .input{
                        background-color: $light;
                    }
                }
            }
        }
    }
}

.text_pg{
    .outer_blk{
        .cmn_heading{
            margin-bottom: 3rem;
        }
        .text-blk{
            @include radius(25px);
            padding: 5rem;
            background-color: rgba($color , 0.1);
            @include mobile{
                padding: 3rem;
            }

        }
    }
}